<h1>Bookbuilder#build_contracts</h1>
<p>Find me in app/views/bookbuilder/build_contracts.html.erb</p>
<%= #link_to "Build Sections", bookbuilder_build_parts_path, class: "btn btn-info btn-lg" 
%> 

<% if(@page_parts.length == 0) %>
		<%= link_to "Build Sections -->", bookbuilder_build_page_09_path, class: "btn btn-info btn-lg" %> 

<% else %>

<%= link_to "Back to show", bookbuilder_show_path, class: "btn btn-info btn-lg"
 %> 


<% end %>

