/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.turbolinks-progress-bar {
  height: 5px;
  background-color: #9cbef4;
}
.book_outline{
	border: 2px dashed red;
	padding: 10px;
}
btn-default,  a:visited{
    color: #000;
}
/*btn-default, {
    color: #666;
}*/
btn-success a:visited {
    color: #d4d7db;
}
btn-danger a:visited {
    color: #d4d7db;
}
td{
	padding: 5px;
}
.pdf_preview{
	min-width: 800px;
	min-height: 1100px;
	border:1px dashed red;
}
.layout_box{
	border: 1px dashed blue;
	min-width: 50px;
	min-height: 50px;
	margin:10px;
	padding: 5px;
	position:relative;
	height:100px;
	width:100px;
	/*left:350px;*/
}
.m5{
	/*left:100px;*/
}
@media (min-width: 1200px){
.container {
    width: 1540px;
}}
.active{
	display:none;
}
.page_head{
	height:110px;
	padding: 10px;
	background-color: #fff;
	/*margin:5px;*/
}
.head_img{
	height:64px;

	/*height:95px;*/
}
.short-nav{
	height:70px;
	padding:2px;
	background-color: #828fbb;
	margin:1px;
}

.short-nav h2, h2, h3{
	margin:0px;
}
.sub-nav{
	margin-bottom: 2px;
}
/*.click-part{
	border: 1px solid red;
}*/

.tbl{
	/*border: 1px solid red;*/
	width:100%;
}

.btn-pad{
	margin:10px;
}

.lay{
	/*border: 2px solid red;*/
	padding-left:2px;
	padding-right: 2px;
	/*padding-top: 12px;*/
	margin:10px; 
	width:100%;
}

.btn:hover{
	/*background-color: #dd04ed;*/
}
.btn-default{
/*	background-color: #efb999;
	border-color:#efb999;*/
}

.btn-success{
/*	background-color: #efb999;
	border-color:#efb999;*/
}

.key{
	display: none;
}

.rec_show{
	border:1px dashed blue;
}


.panel-button-agent{
	/*background-color: #00ff00;*/
}
.panel-button-client{
	background-color: #f00;
}
.panel-button-name{
	background-color: #9cbef4;
	color:#000;
}
.panel-button-alert{
	background-color: #fff;
	color:#000;
}
.panel-button-active{
	background-color: #fff;
	color:#000;
}

.panel-agent{
	/*border:1px solid red;*/
	/*box-shadow: 5px 5px 3px 6px #667; */
	width:250px;
	display:none;
}
.panel-client{
	/*border:1px solid red;*/
	/*box-shadow: 5px 5px 3px 6px #667; */
	width:250px;
	display:none;
}
.panel-name{
	/*border:1px solid red;*/
	/*box-shadow: 5px 5px 3px 6px #667; */
	width:200px;
	display:none;
}
.panel-show{
	display:block;
}

.panel-main{
	/*background-color: #9cbef4;*/
		border:1px dashed blue;
		display:none;
}
.edit_show{
	min-height:500px;
}
.panel_selection-page{
	border:5px groove yellow;
}
.selected{
	/*border :4px solid yellow;*/
	box-shadow: 3px 3px 4px yellow;
}

.form_imput form{
	border:1px solid green;
	clear: both;
}
.form_imput input, option, optgroup{
	float:right;
	clear: both;
}
.form_imput select{
	float:right;
	/*clear: both;*/
}
.form_imput label{
	float:left;
	clear: both;
}
.form_imput input[type="text"]{
	text-align: right;
}
.outline{
	/*border: 1px dashed pink;*/
}

.cap-form{
	content: "";
	display: table;
	clear: both;
	max-height: 40px;
	width:100%; 
	/*border:1px solid blue;*/
}

.whole-page{
		border-radius: 20px;
		border:1px inset #c0c1c1;
		box-shadow: 3px 3px 4px #333;

}
.panel-agent{
	/*border:1px solid red; */
	/*width:250px;*/
}

.form_imput input[type="checkbox"]{
	float:right;
	clear: both;

}
.check_box_form{
	/*border:1px dashed blue;*/
	float:right;
	clear: both;

}






/* log in class*/
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
.full-page {
  position: absolute;
  left: 0;
  top: 50;
  width: 100%;
  height: 80%;
  font-family: "Roboto", sans-serif;
  background-color: #F36438;
  background-color: #828fbb;
  overflow: hidden;
}
.start_page{
  width: 86%;
  background-color: #da5738;
  background-color: #eda290;
  overflow: hidden;	
}
full-page.table {
  display: table;
  width: 100%;
  height: 100%;
}

.full-page.table-cell {
	display: table-cell;
	/*vertical-align: middle;*/
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	margin:20%;
}

.mars {
	position: absolute;
	width: 800px;
	margin: 30px auto 0;
	margin-left: 20%;
	height: 320px;
	background-color: #F58363;
	top: 0%;
	margin-top: 110px;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.39);
	-moz-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.39);
	box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.39);
}
/*.mars .box {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}*/
.mars .box:before, .mars .box:after {
  content: " ";
  position: relative;
  left: 152px;
  top: 50px;
  background-color: #F58A4A;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  width: 300px;
  height: 285px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  	margin:20%;
}
.mars .box:after {
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
  background-color: #E85C0B;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}
.mars .container-forms {
  /*position: relative;*/
}
.mars .btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 60px;
  color: #fff;
  background-color: #F36438;
  opacity: 1;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.mars .btn:hover {
  opacity: 0.9;
}
.mars .btn, .mars input {
  padding: 10px 15px;
}
.mars input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mars .container-forms .container-info {
  text-align: left;
  font-size: 0;
}
.mars .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}
.mars .container-forms .container-info .info-item p {
  font-size: 20px;
  margin: 20px;
}
.mars .container-forms .container-info .info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
}
.mars .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}
.mars .container-forms .container-info .info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.mars .container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #33638F;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mars .container-form:before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  color: #5356ad;
  font-size: 130px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mars .container-form .btn {
  position: relative;
  box-shadow: 0 0 10px 1px #ff73b3;
  margin-top: 30px;
}
.mars .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  	margin:20%;
}
.container .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container.log-in .box:before {
  position: absolute;
  left: 180px;
  top: 62px;
  height: 265px;
}
.container.log-in .box:after {
  top: 22px;
  left: 192px;
  width: 324px;
  height: 220px;
}
.container.log-in .container-form {
  left: 265px;
}
.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}
.container.active {
  width: 260px;
  height: 140px;
  margin-top: -70px;
}
.container.active .container-form {
  left: 30px;
  width: 200px;
  height: 200px;
}
.container.active .container-form:before {
  content: "✔";
  position: absolute;
  left: 51px;
  top: 5px;
  color: #5356ad;
  font-size: 130px;
  opacity: 1;
}
.container.active input, .container.active .btn, .container.active .info-item {
  display: none;
  opacity: 0;
  padding: 0px;
  margin: 0 auto;
  height: 0;
}
.container.active .form-item {
  height: 100%;
}
.container.active .container-forms .container-info .info-item {
  height: 0%;
  opacity: 0;
}

.rabbit {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}





.set-logo-login{
	margin-top:10%;
	margin-left:100px;
	margin-right:20%;
	z-index: 200;
	/*margin-bottom:200px;*/
	/*right:200px;*/
}
.btn-expand{
	margin-bottom:30px;
	border:1px solid #fff;
}
.btn-expand-login{
	border:1px solid #000;
}
.image_offset{
	margin-top:20px;
	margin-bottom: 20px;
	margin-left:40%;
	border:4px solid #F36438;
	-webkit-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.39);
	-moz-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.39);
	box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.39);
}
.page-body{
	background-color: #768796;
	min-height: 250px;
	padding:20px;
	-webkit-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.39);
	-moz-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.39);
	box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.39);

}