// Place all the styles related to the page_parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-part{
	margin-top:5px;
	margin-bottom:2px;
}

.form_box{
	/*border:1px solid red; */
	padding:2px;
}